<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet><!--定义名为web的servlet, 因为servlet的名为web, 必须在同一目录下创建web-servlet.xml的配置文件,即后缀为"-servlet.xml"的文件, 系统才能工作-->
        <servlet-name>web</servlet-name>
        <servlet-class><!--对应的处理类为spring.web, 达到将所有请求交给了spring处理的目的-->
           org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>

        <!--上传文件需要如下配置
            MultipartConfig配置了本Servlet的文件上传参数，
            location：这里没有列出的是location参数，表示存放临时文件的位置，一般无需配置，选择缺省的临时文件夹
            fileSizeThreshold：表示收到文件到达这么大后，不在放入缓存，而是写入临时文件。本例中，如果文件小于5M，则存放在缓存，然后被垃圾回收；同样的，如果采用临时文件方式，临时文件也会被删除。
            maxFileSize：限制文件的最大值，本例文件不超过50M
            maxRequestSize：由于可能同时上传多个文件，servlet可能会被同时请求，此限制总量。
        -->
        <multipart-config>
            <max-file-size>52428800</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>

    </servlet>


    <servlet-mapping>
        <servlet-name>web</servlet-name>
        <url-pattern>/</url-pattern> <!--将所有请求交给名为web的servlet处理-->
    </servlet-mapping>




    <!--设置编码过滤器,统一使用utf8编码-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>




    <!--加载spring配置-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <!--设置启动监听器-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>







    <!--设置404错误页面从定向页面-->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/404.jsp</location>
    </error-page>


    <!--设置默认首页-->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>




    <!--设置静态资源请求不经过spring的servletDispatcher,确保静态资源可以被访问 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.swf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.txt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ico</url-pattern>
    </servlet-mapping>

</web-app>